<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
         注意：
	1.namespace中需要与使用@Mapper的接口对应
	2.CatMapper.xml文件名称必须与使用@Mapper的接口一致
	3.标签中的id必须与@Mapper的接口中的方法名一致，且参数一致
  -->
<mapper namespace="com.kn.auth.mapper.UserMapper">
<!--    <resultMap id="UserInfoMap" type="com.kn.auth.pojo.UserInfo">
        <result column="id" property="id"/>
    </resultMap>-->

<!--    <select id="findByLoginname" resultMap="UserInfoMap" parameterType="string">-->
            <select id = "findByLoginname" resultType="com.kn.auth.pojo.UserInfo"  parameterType="string">
        select * from user_info where loginname =#{loginname} or email=#{loginname}
    </select>
</mapper>
